/* Add CSS styling here */
html { 
  font-size: 62.5%; 
} 

* {
  border: 1px solid black;
}

body{
  width: 80%;
}


.header {
  display: flex;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 6rem;
  margin-left: 60px;
}

h2{
    margin-left: 120px;
}
/* .header {
  width: 100%;
  height: auto;
} */

.topnav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.topnav .nav {
  border: 1px solid black;
  width: 14rem;
  height: 3rem;
  font-size:2rem;
  display: inline-block;
  background: lightgray;
  flex-flow: row wrap;
  text-decoration: none;
  text-align: center;
  text-justify: middle;
  line-height: 1.7em;
  color: black;
}

#main{
  display: flex;
  flex-flow: row wrap;
}

#bigboy{

  width: 49%;
  height: auto;
}


#blurb {
  width: 50%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

#b2{
  width: 60%;;
  justify-content: center;
  font-size: 3.0rem;
}


#rowrowrow{
  display: flex;
  flex-flow: row wrap;
  justify-items: auto;
}

.imgrow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 20%;
}

.tileimg{
  width: 15rem;;
  margin:1vw;
}


.small {
  margin-block-start: 0em;
  width: 20vw;
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
}

footer{
    text-align: center;
}
a .btmnav  {
    width:120px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.btmnav{
    display:flex;
    width: 20rem;
    height:5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    background-color: grey;
    margin:auto;
}

@media(max-width:768px){

  body{
    width:100%;
  }

  h1{
    text-align: center;
    margin:0;
  }
  
  
  .topnav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin:0;

  }

  #main{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
  }

  #blurb {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  
  #b2{
    width: 100%;
    justify-content: center;
    font-size: 3.0rem;
  }

  #bigboy{
    /* display: inline; */
    width: 100%;
    height: auto;
  }
  
  #titleimg {
    width: 50%;
    height: auto;
  }
}


@media(max-width:600px){
  
  #rowrowrow{
    display: flex;
    flex-flow: row wrap;
  }
  
  .imgrow {
    display: flex;
    flex-flow: row wrap;
    margin-left: 4%;
    margin-right: 4%;
    width: 40%;
  }
  
  .tileimg{
    width: 15rem;;
    margin:1vw;
  }
  
  
  .small {
    margin-block-start: 0em;
    width: 20vw;
    display: inline-block;
    text-align: center;
    font-size: 2.4rem;
  }

}